// Her lægger vi ind kode for udsyn

@use "color";

body{
    background-color: color.$light;
}
#mainContainer{
    display: grid;
    padding: 2rem;
    margin: 2rem;
    
}

// Tablet og desktop
@media (min-width: 768px){
    #mainContainer {
        grid-template-columns: 3fr 1fr; // To kolonner på større skærme
    }}