// Her lægger vi ind kode for udsyn

@use "color";
@use "nav";

body{
    background-color: color.$light;
}
#mainHeader{
    border-radius: 2rem;
    border-color: black;
    text-align: center;
}
#pic{
    width: 4rem;
    height: 4rem;
    background-color: rgb(199, 70, 130);
}
#mainContainer {
    display: grid;
    border: 2px solid black;
    padding: 2rem;
    margin: 2rem;
    
}
#mainFooter{
    background-color: color.$red;
}

// Tablet og desktop
@media (min-width: 768px){
    #mainContainer {
        grid-template-columns: 1fr 1fr 1fr; // 3 kolonner på større skærme
    }

}