// her skal der laves navigation
@use 'color';

#mainNavigation{
    background-color: color.$red;
}

#mainNavigation ul{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    
    li{
        padding: 1rem;
        margin: 1rem;
        list-style: none;
        
    }}

 